body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  #loader-wrapper {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center; }
  .xloader {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin-top:calc(50vh - 20px);
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite; }
  
  
    .fill { 
      min-height: 100%;
      height: 100%;
      padding-top:40px;
      box-sizing:border-box;
    }
  
    .full-height { display: flex; flex-direction: column; height: 100%; }
    .fill-height { flex-grow: 1; width: 100%; }
    .doborder { border: 1px solid; border-color: #ddd; border-radius: 4px; }
    .controlsdiv { display: table; width: 100%; }
  
  
  
    .loader {
      border: 16px solid #D4D4D4;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      background-color: transparent;
      height: 120px;
        position: fixed;
        top:100px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99999999;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

.mega-menu { background-image: linear-gradient(to bottom right, #D9E141, #008050) }
.nav-link {color: white ; font-size:large ; font-weight:bold ;  text-transform: capitalize; }