  .caiBackground { background-image: linear-gradient(to bottom right, #D9E141, #008050) }

  .caiBackground {background-color:orange}
  .caiLink { color: white ; text-decoration: none ; font-size:large ; font-weight:bold ;  text-transform: capitalize; padding: 10px }
  .caiLink:active {color: red}

  .p { color: red }
  
  .nav-link {color:green}
  .nav-link:active {color:orange}

  .caiContainer {
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
  }
  
  .caiMain {
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto; /* to scroll just the "main" div */
  }
  
  .caiSection {
    height: 100%; /* takes the visible area of the "main" div */
    overflow: auto; /* recommended */
    border-bottom: 1px solid;
    background: lightgreen;
  }
  
  .caiHeader {background: #f88}
  .caiSection:last-child {border: none}
  .caiFooter {background: lightblue}